#generalBody {
    width: 100%;
    margin: auto;
}

body {
    background-color: #ffffcc;
    text-align: center;
}

#pregunta {
    width: 100%;
    height: 600px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,45,82,1) 0%, rgba(2,70,108,1) 0%, rgba(2,84,123,1) 0%, rgba(1,131,172,1) 0%, rgba(0,212,255,1) 100%);
    text-align: center;
    line-height: 600px;
    border-radius: 10px;
    padding: 5px;
}

.problema {
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    padding: 5px;
}

.tituloSolucion {
    width: 100%;
    height: 400px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,45,82,1) 0%, rgba(2,70,108,1) 0%, rgba(2,84,123,1) 0%, rgba(1,131,172,1) 0%, rgba(0,212,255,1) 100%);
    text-align: center;
    line-height: 400px;
    border-radius: 10px;
    padding: 5px;
}

.tituloSolucion h1 {
    color: white;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-family: Helvetica;
    font-size: 45px;
}

.tituloImplementacion {
    width: 100%;
    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,45,82,1) 0%, rgba(2,70,108,1) 0%, rgba(2,84,123,1) 0%, rgba(1,131,172,1) 0%, rgba(0,212,255,1) 100%);
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    padding: 5px;
}

.tituloImplementacion h1 {
    color: white;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-family: Helvetica;
    font-size: 45px;
}

#pregunta h1 {
    color: white;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-family: Helvetica;
    font-size: 45px;
}

.problema h2 {
    color: black;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-family: Helvetica;
    font-size: 35px;
}

#datos {
    width: 90%;
    margin: auto;
}

#datos p {
    font-family: Helvetica;
    font-size: 25px;
}

.quien {
    background: rgba(61,206,231);
    background: linear-gradient(90deg, rgba(61,206,231,1) 0%, rgba(153,206,217,0.8421743697478992) 100%);
}

.quienes {
    margin-right: 10px;
    margin-left: 10px;
}

hr {
    border: 0px dashed white;
}

#integrantes {
    width: 80%;
    margin: auto;
    height: 200px;
    text-align: center;
    line-height: 200px;
    padding: 5px;
    margin-bottom: 150px;
}

#rocket {
    width: 100px;
    height: auto;
}

#fotoProblema {
    width: 70px;
    height: auto;
}

.fotoParticipantes {
    width: 40px;
    height: auto;
}

#mundo {
    width: 200px;
    height: auto;
}

#separator {
    height: 220px;
}

#email {
    width: 50%;
    margin: auto;
}

#emailButton:hover {
    background: lightblue;
}

.datos {
    font-size: 20px;
}

.agentes {
    width: 90%;
    height: 100%;
    margin: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 5px;
    padding-left: 5px;
    background: rgba(61,206,231);
    background: linear-gradient(90deg, rgba(61,206,231,1) 0%, rgba(153,206,217,0.8421743697478992) 100%);
    border-radius: 10px;
}

.agentes:hover {
    background: white;
}

#fotoChoque {
    width: 90%;
}

#videoChoque {
    padding-top: 30px;
}

.textoSolucion {
    width: 90%;
    height: 100%;
    margin: 5%;
    padding-bottom: 25px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}

#paginaProblema {
    display: "visible";
}

#paginaSolucion {
    display: "block";
}

#paginaImplementacion {
    visibility: "block";
}